<html>
  <head>
      <link href="/assets/style.css" rel="stylesheet" type="text/css"  >
  </head>
  <body>
      <h1>Welcome dashboard</h1>
      <h2>Username : <%= data.username%> </h2>
      <br>
      <h2>Email : <%= data.email%> </h2>
  </body>
</html>
